extends layout

block content
    h2 Change Password
    form(action="/users/changePassword" method="POST")
        .row
            .col-sm-10
                .row
                    .col-sm-6                        
                        .form-group
                            label(for="old_password") Old Password
                            input#old_password.form-control(type="password" name="old_password" value=old_password)
                        .form-group
                            label(for="new_password") New Password
                            input#new_password.form-control(type="password" name="new_password" value=new_password)
                        .form-group
                            label(for="confirm_password") Confirm Password
                            input#confirm_password.form-control(type="password" name="confirm_password" value=confirm_password)
                        .form-group
                            input(type="submit" name="submit" value="Change Password" class="btn btn-primary")
                            input#user_id(type="hidden" name="user_id" value=user._id)
                    .col-sm-2
                        | &nbsp;
                    .col-sm-2
                        | &nbsp;    
                    .col-sm-2
                        a(href="/users/editMyProfile" style="font-size:11px;margin:5px 0 0 0;") Edit Profile Data
                        br
                        | #{hashed_pass}
